<footer class="site-footer">
    <div class="footer-content cf">
      <p> <strong>The London A Cappella International Summer School</strong> is a high quality and intensive four day course with a varied programme of events. Suitable for groups and individuals alike, including workshops and performances from some of the finest <i>a cappella</i> performers and educators in the industry, this is a vocal experience like no other. <a href="about/index.html">Find out more...</a></p>
      <nav class="footer-nav">
        <ul>
          <li><a href="course/index.html">&#187; The course</a></li>
          <li><a href="about/index.html">&#187; About</a></li>
          <li><a href="media/index.html">&#187; Media Hub</a></li>
          <li><a href="shop/index.html">&#187; Shop</a></li>
          <li><a href="book/index.html">&#187; Book</a></li>
          <li><a href="contact/index.html">&#187; Contact</a></li>
        </ul>
      </nav>
      <div class="footer-social-newsletter">
        <ul class="social-links cf">
          <li class="tw"><a href="#" class="ir" target="_blank">Twitter</a></li>
          <li class="fb"><a href="#" class="ir" target="_blank">Facebook</a></li>
          <li class="yt"><a href="#" class="ir" target="_blank">YouTube</a></li>
          <li class="rss"><a href="#" class="ir" target="_blank">RSS</a></li>
        </ul>
        <div class="newsletter module" id="mc_embed_signup">
          <h2 class="module-heading">Sign up to our newsletter</h2>
          <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate cf" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email here...">
            <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
        </div>
      </div>
      <a href="#top" class="back-to-top">Back to top</a> </div>
    <!-- end .footer-content --> 
    
  </footer>