<header class="site-header">
    <h1 class="logo">
<%= link_to image_tag("laciss-logo@2x.png", alt: "Rails"), 'index.html' %>
     </h1>
    <a href="#" class="mobile-nav-toggle ir">Open/close navigation</a>
    <nav class="main-nav-holder">
      <ul class="main-nav">
        <li class="nav-top-item nav-course with-kids"><a href="course/index.html"><span>The course</span></a>
          <ul class="sub-nav">
            <li class="page_item page-item-9"><a href="course/schedule/index.html">Schedule</a></li>
            <li class="page_item page-item-12"><a href="course/meet-the-tutors/index.html">Meet the tutors</a></li>
            <li class="page_item page-item-13"><a href="course/workshops-masterclasses/index.html">Workshops &#038; Masterclasses</a></li>
            <li class="page_item page-item-14"><a href="course/concerts/index.html">Concerts</a></li>
            <li class="page_item page-item-15"><a href="course/extras/index.html">Extras</a></li>
            <li class="page_item page-item-16"><a href="course/your-visit/index.html">Your visit</a></li>
          </ul>
        </li>
        <li class="nav-top-item with-kids"><a href="about/index.html">About</a>
          <ul class="sub-nav">
            <li class="page_item page-item-17"><a href="about/about-us/index.html">About us</a></li>
            <li class="page_item page-item-22"><a href="about/sponsors/index.html">Sponsors</a></li>
          </ul>
        </li>
        <li class="nav-top-item with-kids"><a href="media/index.html">Media Hub</a>
          <ul class="sub-nav">
            <li class="page_item page-item-23"><a href="media/news/index.html">News</a></li>
            <li class="page_item page-item-27"><a href="media/photos/index.html">Photos</a></li>
            <li class="page_item page-item-29"><a href="media/videos/index.html">Videos</a></li>
          </ul>
        </li>
        <li class="nav-top-item"><a href="shop/index.html">Shop</a></li>
        <li class="nav-top-item with-kids"><a href="book/index.html">Book</a>
          <ul class="sub-nav">
            <li class="page_item"><a href="book/index.html#register">Register your place</a></li>
            <li class="page_item"><a href="book/index.html#fees">Fees</a></li>
            <li class="page_item"><a href="book/index.html#terms">Terms & conditions</a></li>
          </ul>
        </li>
        <li class="nav-top-item"><a href="contact/index.html">Contact</a></li>
      </ul>
    </nav>
    <span class="shadow"></span> </header>